<h2>Projects</h2>
<ul>
  <% @projects.each do |project|%>
    <li>
      <ul>
        <li><%= link_to project.name %></li>
        <li><%= link_to project.total_hours %></li>
        <li><%= link_to "edit", edit_project_path(project) %></li>
        <li><%= link_to "delete", project_path(project), method: :delete %></li>
      </ul>
    </li>
  <% end %>
</ul>
<button><%= link_to "Create a Project", new_project_path %></button>

<button><%= link_to "View Workers", workers_path %></button>