<button><%= link_to "back", root_path %></button>

<h2>Workers</h2>
<ul class="table">
  <% @workers.each do |worker|%>
    <li>
      <ul class="name_total_hours">
        <li><%= link_to worker.name %></li>
        <li><%= link_to worker.total_hours_per_day %></li>
        <ul class="options">
          <li class="edit"><%= link_to "edit", edit_worker_path(worker) %></li>
          <li class="delete"><%= link_to "delete", worker_path(worker), method: :delete %></li>
        </ul>
      </ul>
    </li>
  <% end %>
</ul>