<!DOCTYPE html>
<html>
  <head>
    <title>Heimdall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Create a New Project", new_project_path %></li>
        <li><%= link_to "View all Workers", workers_path %></li>
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
