<!DOCTYPE html>
<html>
  <head>
    <title>Heimdall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1 class="logo"><%= link_to "Heimdall", root_path %></h1>
        <nav>
          <ul>
            <li><%= link_to "Create a Project", new_project_path %></li>
            <li><%= link_to "Create a Worker", new_worker_path %></li>
          </ul>
        </nav>
      </header>
      <div class="main">
        <%= yield %>
      </div>
      <footer>
        <p>&copy; 2016 Mike Flores</p>
      </footer>
    </div>
  </body>
</html>
